.pageSection{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  max-width: 100%;
  min-height:100vh;
  color: #FFFFD6;
  position: relative;
  background: #111;
  padding: 1em;
  inset: 0;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
}