.button{
    width: 250px;
    height: 50px;
    background: var(--primary);
    color: var(--text);
    border-radius: 6px;
}

.glitch{
    position: relative;
    font-size: 24px;
    font-weight: 500;
    color: var(--text);
    letter-spacing: 3px;
    z-index: 1;
}

.glitchButton{
    border: 1px solid #111111;
    animation: glitch-it 0.45s both infinite;
}

.glitch::before,
.glitch::after {
    display: block;
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.65;
}

.glitch::before {
    animation: glitch-it 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
    z-index: -1;
    color: #00FFFF;
}

.glitch::after {
    animation: glitch-it 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
    z-index: -2;
    color: #FF00FF;
}

@keyframes glitch-it {
   0% { transform: translate(0); }
   20% { transform: translate(-1px, 2px); }
   40% { transform: translate(-1px, -1px); }
   60% { transform: translate(1px, 1px); }
   80% { transform: translate(1px, -1px); }
   to { transform: translate(0); }
}

.button:hover .glitch::before,
.button:hover .glitch::after,
.glitchButton:hover {
    animation: none !important;
}

@media (max-width: 820px) {
    .button{
        width: 100%;
        margin: 0 auto;
    }
}