.allstarContainer {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
    border: 1px solid hotpink;
}

.allstarIntro {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    border: 1px solid hotpink;
}