 .allstarContainer {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.allstarIntro {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 40px;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.allstarIntro h2 {
    z-index: 0;
    color: white;
    font-family: 'HumaneMedium';
    font-size: clamp(22rem, 15vw, 15em);
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;
    margin-top: -20px;
}

@media (max-width: 1280px) {
  .allstarIntro h2 {
        font-size: clamp(18rem, 15vw, 15em);
    }
}
@media (max-width: 850px) {
  .allstarIntro h2 {
        font-size: clamp(14rem, 15vw, 15em);
    }
}
@media (max-width: 550px) {
  .allstarIntro h2 {
        font-size: clamp(8rem, 15vw, 15em);
        letter-spacing: 0.14em;
    }
}

.section{
    display: flex;
    margin: 0;
    padding: 0; 
    height: 500px;
    width: 100%;
    border: 1px dashed yellow;
    background-color: #222;
}

.boxa1 {
  display: flex;
  align-self: center;
  margin: 0;
  padding: 0;
  height: 400px;
  width: 500px;
  position: absolute;
  overflow: hidden;
}

.boxa1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  opacity: 0;
  visibility: hidden;
}

@media (max-width: 1280px) {
 .boxa1 img{
    width: 80%;
    height: 100%;
    object-fit: cover;
    object-position: center 15%;
    display: block;
}
}
@media (max-width: 580px) {
 .boxa1 img{
    width: 60%;
    height: 80%;
    object-fit: cover;
    object-position: center 15%;
    display: block;
}
}

.boxa {
    display: flex;
    align-self: flex-start;
    margin: 0;
    padding: 0; 
    width: 300px;
    border: 1px dashed yellow;
    background-color: yellow;
    position: absolute;
    margin-top: -180px;
    visibility: hidden;
    opacity: 0;
}

.boxb {
    display: flex;
    align-self: flex-end;
    margin: 0;
    margin-top: 220px;
    padding: 0; 
    width: 300px;
    border: 1px dashed dodgerblue;
    background-color: dodgerblue;
    position: absolute;
    visibility: hidden;
    opacity: 0;
} 